export(fsize)
export(plots.2levFr)
export(plots.Block)
export(plots.Full)
export(plots.Split)
export(Size.2levFr)
export(Size.Block)
export(Size.Full)
export(Size.Split)
export(sizelist)
export(sizelist.split)